{% extends "base.html" %}
{% block content %}

    <section class="bg-info fully" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div id="box">
                        <div id="container-1">
                                <form>
                                <input type="search" id="search" name="course" placeholder="Course Number" />
                                <span class="icon">
                                    <button type="submit" class="btn btn-primary btn-xl page-scroll">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                                </form>
                        </div>
                    </div>

                    <hr class="light">
                    {% if searched %}
                    <div class="bs-example">

                        <div class="panel-group" id="accordion">
                            {% for q in questions %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">{{ q.render_question() | safe }}</a>
                </h4>
                                </div>
                                
                            </div>
                    {% endfor %}
                           
                        </div>
                    </div>
                    {%endif%}
                </div>
            </div>
        </div>
    </section>
{% endblock %}    